:root.theme-dark {
  --page--bg-color: #000028;
  --header--bg-image: url(../images/cover-image-dark.png);
  --logo--text-color: #DB00FF;
  --accent-color: #FF0070;
  --title--text-color: #000028;
  --answer-card-description--text-color: #F1B2CE; 
  --decorated--color-accent: #FF0070;
  --button--hover-color: rgb(255, 0, 112, .4);
}

@media (prefers-color-scheme: dark) {
  :root {
    --page--bg-color: #000028;
    --header--bg-image: url(../images/cover-image-dark.png);
    --logo--text-color: #DB00FF;
    --accent-color: #FF0070;
    --title--text-color: #000028;
    --answer-card-description--text-color: #F1B2CE; 
    --decorated--color-accent: #FF0070;
    --button--hover-color: rgb(255, 0, 112, .4);
  }
}