:root.theme-light {
  --page--bg-color: #fff1f7;
  --header--bg-image: url(../images/cover-image-light.png);
  --logo--text-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --title--text-color: #353430;
  --answer-card-description--text-color:  #353430;
  --decorated--color-accent: #353430;
  --button--hover-color: rgb(50, 49, 45, .4);
}

.theme-light .decorated-zone__docorated-text {
  visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --page--bg-color: #fff1f7;
    --header--bg-image: url(../images/cover-image-light.png);
    --logo--text-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --title--text-color: #353430;
    --answer-card-description--text-color:  #353430;
    --decorated--color-accent: #353430;
    --button--hover-color: rgb(50, 49, 45, .4);
  }

  .decorated-zone__docorated-text {
    visibility: hidden;
  }
}