.page {
  background: var(--header--bg-image) no-repeat center / cover;
  background-color: var(--page--bg-color);
  background-attachment: fixed;
  padding-inline: var(--content--element-spacing--mobile);
  font-size: var(--content--text-size);
  font-family: var(--content--font-family), sans-serif;
  line-height: 1.3em;
  font-weight: normal;
}

.header {
  min-height: 668px;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  block-size: 25px;
  inline-size: 25px;
  position: absolute;
  background-color: transparent;
  border-top: 1px solid var(--decorated--color-accent);
  border-right: 1px solid var(--decorated--color-accent);
  inset-inline-end: 0;
  inset-block-start: var(--content--element-spacing--mobile);
}

.decorated-zone::after {
  content: "";
  block-size: 25px;
  inline-size: 25px;
  position: absolute;
  background-color: transparent;
  border-bottom: 1px solid var(--decorated--color-accent);
  border-left: 1px solid var(--decorated--color-accent);
  inset-inline-start: 0px;
  inset-block-end: var(--content--element-spacing--mobile);
}

.decorated-zone__docorated-text {
  color: var(--decorated--color-accent);
  line-height: 1.4em;
  text-transform: uppercase;
  position: absolute;
  justify-self: end;
  margin-inline-end: 28px;
  margin-block-start: 13px;
}

.decorated-zone__docorated-text::after {
  content: "";
  position: absolute;
  inline-size: 10px;
  block-size: 10px;
  margin-block-start: 7px;
  margin-inline-start: var(--content--element-spacing--mobile);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
  padding-block-start: var(--header--theme-switch-padding--mobile);
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.header__theme-menu-button {
  padding-inline: 13px;
  padding-block-end: 2px;
  background-color: inherit;
  border: none;
  text-transform: lowercase;
  font-family: var(--content--font-family), sans-serif;
  color: var(--decorated--color-accent);
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button--hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

.logo {
  inline-size: min-content;
  align-self: center;
  font-family: var(--content--font-family), sans-serif;
  font-size: var(--logo--text-size-mobile);
  font-weight: bold;
  line-height: 82.5%;
  color: var(--logo--text-color);
  text-shadow: var(--accent-color) var(--logo--shadow-offset) var(--logo--shadow-offset) 0;
}

.title-decor {
  font-size: var(--content--text-size);
  font-family: var(--content--font-family), sans-serif;
  color: var(--title--text-color);
  background-color: var(--accent-color);
}

.header-title {
  padding-block-start: var(--header--title-padding--mobile);
}

.content {
  display: grid;
  margin-top: var(--page-element--spacing--mobile);
  margin-bottom: var(--page-element--spacing--mobile);
  gap: var(--question-section-spacing--mobile);
}

.question__section {
  display: grid;
  gap: 20px;
}

.question__section__title {
  font-size: var(--content--text-size);
  color: var(--decorated--color-accent);
}

.question__section__answer {
  display: grid;
  gap: 19px;
}

.question__section__answer-list {
  display: grid;
  gap: 20px;
}

.title-decor + .question__section__answer-list .title-decor {
  font-weight: normal;
}

.answer__card {
  display: grid;
  gap: 10px;
}

.answer__card-description {
  color: var(--answer-card-description--text-color);
}

.answer__card-description-link {
  text-decoration: none;
  text-shadow: var(--accent-color) 2px 2px 0;
}

.answer__card-description-link:hover {
  border-bottom: 0.1em solid currentColor;
}

.answer__card-description-link:focus {
  outline: none;
}

.answer__card-description-link:focus-visible {
  border: 1px solid var(--answer-card-description--text-color);
}

.question__section__picture-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.picture__section {
  gap: var(--content--element-spacing--mobile);
  display: grid;
}

.picture__set {
  gap: var(--content--element-spacing--mobile);
  display: grid;
}

.picture {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  --logo--shadow-offset: var(--logo--shadow-offset--footer);
  min-height: 668px;
  height: 100vh;
  display: grid;
  justify-content: center;
}

@media (width >= 768px) {
  .page {
    padding-inline: var(--content--element-spacing--other);
  }

  .content {
    margin-top: var(--page-element--spacing--other);
    margin-bottom: var(--page-element--spacing--other);
    gap: var(--question-section-spacing--other);
  }

  .header {
    grid-template-rows: 1fr min-content 1fr;
    grid-template-columns: repeat(2, 1fr);
  }

  .decorated-zone::before {
    inset-block-start: var(--content--element-spacing--other);
  }

  .decorated-zone::after {
    inset-block-end: var(--content--element-spacing--other);
  }

  .decorated-zone__docorated-text {
    margin-block-start: var(--content--element-spacing--other);
  }

  .header__theme-menu {
    padding-block-start: var(--header--theme-switch-padding--tablet);
    grid-column: 2/3;
  }

  .logo {
    position: relative;
    inset-inline-start: -20px;
    inline-size: max-content;
    align-self: center;
    grid-column: 1/3;
    font-size: var(--logo--text-size-other);
  }

  .header-title {
    padding-block-start: var(--header--title-padding--tablet);
    grid-column: 2/3;
  }

  .question__section {
    grid-template-columns: repeat(3, 1fr);
  }

  .question__section__answer {
    grid-column: 2/4;
    gap: 0;
  }

  .question__section__title:has(+ .title-decor) {
    grid-row: 1/3;
  }

  .question__section__title + .title-decor {
    padding-inline-start: 0;
    grid-column: 2/4;
  }

  .question__section__title {
    grid-column: 1/2;
  }

  .question__section__answer > .title-decor {
    grid-column: 2/4;
    margin-inline-start: 7px;
    margin-block-end: 20px;
  }

  .question__section__answer-list {
    grid-column: 2/4;
    padding-inline-start: 7px;
  }

  .decline-concentration {
    padding-inline-start: 0;
    grid-column: 1/4;
  }

  .decline-concentration .question__section__answer-list {
    padding-inline-start: 0;
  }

  .picture__section {
    gap: 20px;
    grid-template-rows: min-content 1fr;
  }

  .pictures__section-title {
    grid-column: 1/4;
    grid-row: 1/2;
  }

  .picture__set {
    grid-column: 1/4;
    grid-row: 2/3;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  .sunset {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .ice_cream {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .tape {
    grid-column: 1/2;
    grid-row: 2/4;
  }

  .books {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .street {
    grid-column: 2/4;
    grid-row: 3/4;
  }

  .footer > .logo {
    inset-inline-start: 0;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    grid-column: 1/3;
    padding-block-start: var(--content--element-spacing--other);
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .question__section {
    gap: 0;
  }

  .decline-concentration {
    margin-block-start: 20px;
    grid-template-columns: auto;
  }

  .decline-concentration .question__section__answer-list {
    display: flex;
    flex-wrap: wrap;
  }

  .question__section__answer-list > .question__section__answer-list-item {
    flex-basis: calc(95% / 3); /*(100% от родителя) - (2*20px гапы) = 95%*/
    flex-grow: 1;
  }

  .header-title {
    padding-block-start: var(--header--title-padding--desktop);
  }
}
